body
{
  background-color:#F1F0FF;
}

.padding-zero
{
  padding:0px;
}

#center-element
{
  background-color:white
}

#pro
{
  background-color:white;
}

#heading-one
{
  font-size:30px;
  background-color:#3D3242;
  padding:30px;
  color:#C3C3E5;
}

#heading-two
{
  font-size:20px;
  padding:10px;
  color:black;
}

#heading-two-b
{
  background-color:#3D3242;
  padding:10px;
  color:white;
}
